body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 500px;
    width: 400px;
    background-color: lightblue;
    border-style: solid;
    border-width: 15px;
    border-color: black;

    display: flex;
    flex-direction: column;
}

#resultDiv {
    height: 180px;
    background-color: white;
    border-style: solid;
    border-color: brown;
    border-bottom: 20px solid;
}

#buttonsDiv {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
}

.fourButtonsRow {
    flex: 1;
    border-style: solid;
    border-width: 2px;

    display: flex;
    flex-direction: row;
}

button {
    flex: 1;
    border-style: solid;
    border-width: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}